<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-menu is-active buttons">
        <button class="button is-link" *ngIf="isAuthenticated"  [routerLink]="['schools']">Schools</button>
        <button class="button is-link" *ngIf="isAuthenticated"  [routerLink]="['courses']">Courses</button>
        <button class="button is-link" *ngIf="!isAuthenticated" (click)="login()"> Login </button>
        <button class="button is-link" *ngIf="isAuthenticated" (click)="logout()"> Logout </button>
    </div>
</nav>
<router-outlet></router-outlet>